@import "variables.scss";
@import "mixins.scss";



body{
background-color: $backgroundcolor;
}

header p {
text-align: right;
display: flex;
}

button{
    background-image: linear-gradient(to right, $purplebluebutton, $bluebutton);
}







